{% extends "frontend/admin_semantic/base.html" %}

{% block content %}
<div class="breadcrumb-panel">
    <div class="ui breadcrumb">
        <i class="right arrow icon divider"></i>
        <a href="#" class="section">Dashboard</a>
        <i class="right arrow icon divider"></i>
        <a href="#" class="section">UI Elements</a>
        <i class="right arrow icon divider"></i>
        <a href="#" class="section">Forms</a>
    </div>
</div>

<div class="two column stackable ui grid">
    <div class="column">
        <div class="box">
            <div class="box-header well">
                <h2 class="ui header">
                    <i class="browser icon"></i>
                    <div class="content">Sample Form</div>
                </h2>
                <div class="box-icons">
                    <a href="#" class="btn-setting"><i class="icon setting"></i></a>
                    <a href="#" class="btn-minimize"><i class="arrow up icon"></i></a>
                    <a href="#" class="btn-close"><i class="remove icon"></i></a>
                </div>
            </div>
            <div class="box-content">
                <div class="ui form segment">
                    <div class="field">
                        <label for="username">Username</label>
                        <div class="ui left labeled icon input">
                            <input type="text" id="username" placeholder="Username">
                            <i class="user icon"></i>
                            <div class="ui corner label">
                                <i class="icon asterisk"></i>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label for="password">Password</label>
                        <div class="ui left labeled icon input">
                            <input type="password" id="password" placeholder="Password">
                            <i class="lock icon"></i>
                            <div class="ui corner label">
                                <i class="icon asterisk"></i>
                            </div>
                        </div>
                    </div>
                    <div class="ui blue submit button">Login</div>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="box">
            <div class="box-header well">
                <h2 class="ui header">
                    <i class="browser icon"></i>
                    <div class="content">Other</div>
                </h2>
                <div class="box-icons">
                    <a href="#" class="btn-setting"><i class="icon setting"></i></a>
                    <a href="#" class="btn-minimize"><i class="arrow up icon"></i></a>
                    <a href="#" class="btn-close"><i class="remove icon"></i></a>
                </div>
            </div>
            <div class="box-content">
                <div class="ui list form">
                    <a class="item">
                        <h5>Errors</h5>
                        <div class="two error fields">
                            <div class="field">
                                <label>First Name</label>
                                <input placeholder="First Name" type="text">
                                <div class="ui red pointing above ui label">Enter a first name</div>
                            </div>
                            <div class="field">
                                <div class="field error">
                                    <label>First Name</label>
                                    <input placeholder="First Name" type="text">
                                </div>
                            </div>
                        </div>
                    </a>

                    <a class="item">
                        <div class="ui form">
                            <div class="date field">
                                <label>Date Birthday</label>
                                <input type="text" placeholder="xx/xx/xxxx">
                            </div>
                        </div>
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="two column stackable ui grid">
    <div class="column">
        <div class="box">
            <div class="box-header well">
                <h2 class="ui header">
                    <i class="browser icon"></i>
                    <div class="content">Form Elements</div>
                </h2>
                <div class="box-icons">
                    <a href="#" class="btn-setting"><i class="icon setting"></i></a>
                    <a href="#" class="btn-minimize"><i class="arrow up icon"></i></a>
                    <a href="#" class="btn-close"><i class="remove icon"></i></a>
                </div>
            </div>
            <div class="box-content">
                <div class="ui list form">
                    <a class="item">
                        <div class="inline field">
                            <label>Inline field</label>
                            <input type="text" placeholder="Full Name">
                        </div>
                    </a>
                    <a class="item">
                        <div class="field">
                            <label>User Input</label>
                            <input type="text">
                        </div>
                    </a>
                    <a class="item">
                        <div class="field">
                            <label>User Text</label>
                            <textarea></textarea>
                        </div>
                    </a>
                    <a class="item">
                        <h5>Checkbox </h5>
                        <div class="ui checkbox">
                            <input type="checkbox">
                            <label></label>
                        </div>
                        <div class="ui slider checkbox">
                            <input type="checkbox">
                            <label></label>
                        </div>
                        <div class="ui toggle checkbox">
                            <input type="checkbox">
                            <label></label>
                        </div>
                    </a>
                    <a class="item">
                        <h5>Select Menu</h5>
                        <div class="ui selection dropdown">
                            <input type="hidden" name="gender">
                            <div class="default text">Gender</div>
                            <i class="dropdown icon"></i>
                            <div class="menu ui transition hidden">
                                <div class="item" data-value="male">Male</div>
                                <div class="item" data-value="female">Female</div>
                            </div>
                        </div>
                    </a>
                    <a class="item">
                        <h5>Radio </h5>
                        <div class="grouped inline fields">
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input type="radio" name="fruit">
                                    <label></label>
                                </div>
                                <label> Apples</label>
                            </div>
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input type="radio" name="fruit">
                                    <label></label>
                                </div>
                                <label> Oranges</label>
                            </div>
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input type="radio" name="fruit">
                                    <label></label>
                                </div>
                                <label> Pears</label>
                            </div>
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input type="radio" name="fruit">
                                    <label></label>
                                </div>
                                <label> Grapefruit</label>
                            </div>
                        </div>
                    </a>
                    <a class="item">
                        <h5>Text Block</h5>
                        <div class="ui message">
                            <div class="header">Sample Message</div>
                            <ul class="list">
                                <li>Please enter your first name</li>
                            </ul>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="box-header well">
                <h2 class="ui header">
                    <i class="browser icon"></i>
                    <div class="content">Input size</div>
                </h2>
                <div class="box-icons">
                    <a href="#" class="btn-setting"><i class="icon setting"></i></a>
                    <a href="#" class="btn-minimize"><i class="arrow up icon"></i></a>
                    <a href="#" class="btn-close"><i class="remove icon"></i></a>
                </div>
            </div>
            <div class="box-content">
                <div class="ui list">
                    <div class="item">
                        <div class="content">
                            <div class="ui small icon input">
                                <input type="text" placeholder="small...">
                                <i class="search icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div class="ui large icon input">
                                <input type="text" placeholder="large...">
                                <i class="search icon"></i>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="content">
                            <div class="ui big icon input">
                                <input type="text" placeholder="big...">
                                <i class="search icon"></i>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="content">
                            <div class="ui huge icon input">
                                <input type="text" placeholder="huge...">
                                <i class="search icon"></i>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="content">
                            <div class="ui massive icon input">
                                <input type="text" placeholder="massive...">
                                <i class="search icon"></i>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="box">
            <div class="box-header well">
                <h2 class="ui header">
                    <i class="browser icon"></i>
                    <div class="content">Form Validation</div>
                </h2>
                <div class="box-icons">
                    <a href="#" class="btn-setting"><i class="icon setting"></i></a>
                    <a href="#" class="btn-minimize"><i class="arrow up icon"></i></a>
                    <a href="#" class="btn-close"><i class="remove icon"></i></a>
                </div>
            </div>
            <div class="box-content">
                <div class="ui form form_validation segment" style="display: block;">
                    <p>Example</p>
                    <div class="two fields">
                        <div class="field">
                            <label>First Name</label>
                            <input name="first-name" type="text" placeholder="First Name">
                        </div>
                        <div class="field">
                            <label>Last Name</label>
                            <input name="last-name" type="text" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="field">
                        <label>Username</label>
                        <input name="username" type="text" placeholder="Username">
                    </div>
                    <div class="field">
                        <label>Password</label>
                        <input name="password" type="password">
                    </div>
                    <div class="inline field">
                        <div class="ui checkbox">
                            <input name="terms" type="checkbox">
                            <label>I agree to the terms and conditions</label>
                        </div>
                    </div>
                    <div class="ui blue submit button">Submit</div>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="box-header well">
                <h2 class="ui header">
                    <i class="browser icon"></i>
                    <div class="content">More input variations</div>
                </h2>
                <div class="box-icons">
                    <a href="#" class="btn-setting"><i class="icon setting"></i></a>
                    <a href="#" class="btn-minimize"><i class="arrow up icon"></i></a>
                    <a href="#" class="btn-close"><i class="remove icon"></i></a>
                </div>
            </div>
            <div class="box-content">
                <div class="ui form list">
                    <div class="item">
                        <div class="content">
                            <div class="ui icon input loading">
                                <input type="text" placeholder="Loading ...">
                                <i class="icon"></i>
                            </div>
                        </div>
                        <div class="item">
                            <div class="content">
                                <div class="ui input error" placeholder="Search...">
                                    <input type="text" placeholder="Error state">
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="content">
                                <h5 class="header">Icons</h5>
                            </div>
                        </div>
                        <div class="item">
                            <div class="content">
                                <div class="ui icon input">
                                    <input type="text" placeholder="Find ... ">
                                    <i class="search icon"></i>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="content">
                                <div class="ui left icon input">
                                    <input type="text" placeholder="Find user...">
                                    <i class="users icon"></i>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="content">
                                <div class="ui icon input">
                                    <input type="text" placeholder="Find ... ">
                                    <i class="circular search icon"></i>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="content">
                                <div class="ui fluid icon input">
                                    <input type="text" placeholder="Find ... ">
                                    <i class="inverted search icon"></i>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="content">
                                <h5 class="header">Action Buttons</h5>
                            </div>
                        </div>
                        <div class="item">
                            <div class="content">
                                <div class="ui fluid action input">
                                    <input type="text" placeholder="Search...">
                                    <div class="ui button">Search</div>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="content">
                                <div class="ui fluid action input">
                                    <input type="text" value="http://ww.short.url/c0opq">
                                    <div class="ui teal right labeled icon button"><i class="copy icon"></i> Copy</div>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="content">
                                <div class="ui fluid action input">
                                    <input type="text" placeholder="Search...">
                                    <div class="ui icon button"><i class="search icon"></i></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


{% endblock %}