<div id="side" class="ui vertical sidebar menu">
    <div class="custom_scrollbar2">
        <div class="scrollbar">
            <div class="track">
                <div class="thumb">
                    <div class="end"></div>
                </div>
            </div>
        </div>
        <div class="viewport" id="side_scrollbar">
            <div class="overview">
                <a id="home" class="item active ajax-link" href="index.php">
                    Dashboard<i class="home icon"></i>
                </a>

                <div class="ui item sidebar_dropdown">
                    UI Elements  <i class="icon left triangle"></i> <div class="ui teal label">+100</div>
                </div>

                <div class="menu_dropdown hidden-elements">
                    <div class="ui secondary vertical menu">
                        <div class="item">
                            <a class="ajax-link" href="buttons.php"> - Buttons</a>
                        </div>
                        <div class="item">
                            <a class="ajax-link" href="modal.php"> - Modal</a>
                        </div>
                        <div class="item">
                            <a class="ajax-link" href="dropdown.php"> - Dropdown</a>
                        </div>
                        <div class="item">
                            <a class="ajax-link" href="labels.php"> - Labels</a>
                        </div>
                        <div class="item">
                            <a class="ajax-link" href="blocks.php"> - Block Elements</a>
                        </div>
                        <div class="item">
                            <a class="ajax-link" href="grid.php"> - Grid</a>
                        </div>
                    </div>
                </div>
                <a href="extras.php" class="item  ajax-link">Extras<i class="star icon"></i></a>
                <a href="form.php" class="item  ajax-link">Forms<i class="user layout icon"></i></a>
                <a href="chart.php" class="item ajax-link" class="ajax-link"><i class="signal icon"></i> Charts</a>
                <a href="typography.php" class="item  ajax-link"><i class="globe layout icon"></i> Typography</a>
                <a href="table.php" class="item  ajax-link"><i class="users layout icon"></i> Tables</a>
                <a href="icon.php" class="item  ajax-link"><i class="grid layout icon"></i> Icons</a>
                <a href="email.php" class="item  ajax-link">
                    <i class="mail icon"></i> Email
                    <div class="ui right teal corner label">
                        <i class="warning icon"></i>
                    </div>
                </a>
                <a class="item ajax-link" href="animations.php">
                    <i class="magic icon"></i> Animations
                </a>

                <div class="ui item sidebar_dropdown">
                    Layout <i class="icon left triangle"></i> <div class="ui teal label">2</div>
                </div>

                <div class="menu_dropdown hidden-elements">
                    <div class="ui secondary vertical menu">
                        <div class="item ">
                            <a class="settings-fluid change_wide active" data-type="fluid" href="#"> - Fluid</a>
                        </div>
                        <div class="item">
                            <a class="settings-boxed change_wide" data-type="boxed" href="#"> - Boxed</a>
                        </div>
                    </div>
                </div>

                <div class="ui item sidebar_dropdown">
                    Pages  <i class="icon left triangle"></i><div class="ui teal label">4</div>
                </div>
                <div class="menu_dropdown hidden-elements">
                    <div class="ui secondary vertical menu">
                        <div class="item">
                            <a class="ajax-link" href="error.php"> - Error Page</a>
                        </div>
                        <div class="item">
                            <a class="ajax-link" href="login.php"> - Login Page</a>
                        </div>
                        <div class="item">
                            <a class="ajax-link" href="gallery.php"> - Gallery</a>
                        </div>
                        <div class="item">
                            <a class="ajax-link" href="feed.php"> - Activity</a>
                        </div>
                        <div class="item">
                            <a class="ajax-link" href="contacts.php"> - Contact </a><div class="ui teal label">Comming soon</div>
                        </div>
                    </div>
                </div>

                <div class="ui item info">
                    <div class="ui list">
                        <div class="item">
                            <a href="#">
                                <i class="circular inverted teal settings icon"></i>
                                Server settings
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <i class="circular inverted teal browser icon"></i>
                                Website settings
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <i class="circular inverted teal user icon"></i>
                                Profile settings
                            </a>
                        </div>
                    </div>
                    <div class="ui basic accordion">
                        <div class="title">
                            <i class="icon check"></i>
                            Tasks completion
                        </div>
                        <div class="content field active">
                            <div class="sidebarstats"></div>
                        </div>
                    </div>
                    <div class="ui basic accordion">
                        <div class="title">
                            <i class="icon cart"></i>
                            Orders Finished
                        </div>
                        <div class="content field active">
                            <div class="sidebarstats2"></div>
                        </div>
                    </div>
                    <div class="ui basic accordion">
                        <div class="title">
                            <i class="dollar icon"></i>
                            Total Income
                        </div>
                        <div class="content field active">
                            <div class="sidebarstats3"></div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>