<div class="navbar">
    <div class="navbar-inner nav-color menu">
        <div class="container-fluid">
            <a class="brand hidden-phone" href="index.php">
                <span id="logo" class="animated rubberBand">Simple Admin</span>
            </a>
            <div class="pull-right">
                <div class="nav-buttons">
                    <div class="nav-button search hidden-phone">
                        <div class="ui form pull-righ">
                            <div class="field">
                                <div class="ui icon mini input">
                                    <input type="text" placeholder="Search..." />
                                    <i class="circular search icon"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="nav-button">
                        <div class="ui top right pointing dropdown mini">
                            <i class="large attention icon"></i>
                            <div class="floating ui awesome_red small circular label">13</div>
                            <div class="ui secondary menu">
                                <p class="item dropdown-header"> You have 13 new attention </p>
                                <div class="item">
                                    <div class="ui small icon awesome_red message">
                                        <i class=" inverter dashboard icon"></i>
                                        <h5 class="header"></h5>
                                        <p>CPU overload</p>
                                    </div>
                                    <div class="ui small icon awesome_red message">
                                        <i class="small inverter user icon"></i>
                                        <h5 class="header"></h5>
                                        <p>1 user ticket waiting reply</p>
                                    </div>

                                    <div class="ui small icon awesome_red message">
                                        <i class="small inverter exclamation icon"></i>
                                        <h5 class="header"></h5>
                                        <p>Website crashed</p>
                                    </div>
                                </div>
                                <p class="item dropdown-link">
                                    <a href="#">See them all</a><i class="right arrow icon"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="nav-button">
                        <div class="ui top right pointing dropdown mini">
                            <i id="mail" class="large mail icon"></i>
                            <div class="floating ui awesome_green small circular label">22</div>
                            <div class="menu ui transition">
                                <p class="item dropdown-header"> You have 22 new emails </p>
                                <div class="item">
                                    <i class="circular awesome_green inverted open folder color icon"></i> <a href="#">Inbox</a>
                                </div>
                                <div class="item">
                                    <i class="circular folder awesome_red inverted color icon"></i> <a href="#">Outbox</a>
                                </div>
                                <div class="item">
                                    <i class="circular awesome_yellow inverted archive color icon"></i> <a href="#">Archiv</a>
                                </div>
                                <p class="item dropdown-link">
                                    <a href="#">See them all</a><i class="right arrow icon"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="nav-button">
                        <div class="ui top right pointing dropdown mini">
                            <i class="large checkmark sign icon"></i>
                            <div class="floating ui awesome_yellow small circular label">15</div>
                            <div class="menu ui transition">
                                <p class="item dropdown-header"> You have 15 new tasks </p>
                                <div class="item">
                                    <i class="circular awesome_green inverted resize full color icon"></i> <a href="#">All Tasks</a>
                                </div>
                                <div class="item">
                                    <i class="circular awesome_red inverted checked checkbox color icon"></i> <a href="#">Done Tasks</a>
                                </div>
                                <div class="item">
                                    <i class="circular awesome_yellow inverted archive color icon"></i> <a href="#">Tasks Archiv</a>
                                </div>
                                <p class="item dropdown-link">
                                    <a href="#">See them all</a><i class="right arrow icon"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="nav-button account hidden-phone">
                        <div class="ui top right pointing dropdown mini">
                            <div class="account_image pull-left">
                                <img src="assets/img/avatar.jpg" class="circular ui image" alt="">
                            </div>
                            <div class="username pull-right">Jonh Doe</div>
                            <div class="menu ui transition">
                                <p class="item dropdown-header"> Account </p>
                                <div class="item">
                                    <i class="awesome_green_text settings full color icon"></i>
                                    <a href="#">Settings</a>
                                </div>
                                <div class="item">
                                    <i class="awesome_green_text user full color icon"></i>
                                    <a href="#">Account</a>
                                </div>
                                <div class="item">
                                    <i class="awesome_green_text off full color icon"></i>
                                    <a href="#">Log out</a>
                                </div>
                                <p class="item dropdown-link">
                                    Role: admin
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>