<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="msvalidate.01" content="E568CA44C7746099F0C421B3DB0FCC3B" />
    <meta content="telephone=no" name="format-detection">

    <title>Pol&#237;tica de Privacidade - sConfirmei</title>

    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />

</head>
<body class="w3-white">

    <!-- Top container -->
    <div class="w3-container w3-top w3-grey w3-large w3-padding" style="z-index:4">
        <!-- Header -->
        <header class="w3-container">
            <h1 style="color:white;">
                <b> Pol&#237;tica de Privacidade</b>                
            </h1>
        </header>
    </div>

    <div class="w3-main" style="margin-top: 36px;">
        <div class="w3-padding-left w3-padding-12">
            <h1>Política de Privacidade sConfirmei</h1>            <p>
                Esta Política de Privacidade foi revisada e está em vigor desde 20/04/2018
            </p>
            <p></p>
            <p>
                Esta Política de Privacidade é aplicável tanto para o aplicativo (APP) para celular e dispositivos móveis <strong>sConfirmei</strong> quanto para o site <strong>http://www.s-confirmei.com.br</strong>. O APP é de uso dos Motoristas (pessoas físicas e/ou MEI) e o site é de uso dos Transportadores/Embarcadores (pessoas jurídicas).
            </p>
            <p></p>
            <p>
                <h2>1. Definições</h2>
                <ul>
                    <li>
                        <strong>APP</strong>: software desenvolvido para ser executado em celulares ou dispositivos móveis;
                    </li>
                    <li>
                        <strong>Site</strong>: software desenvolvido para ser executado em navegadores (Browser) de internet, como por exemplo: Mozilla Firefox, Google Chrome, Internet Explorer, entre outros;
                    </li>
                    <li>
                        <strong>Embarcador:</strong> significa, no plural ou singular, a empresa cadastrada no Sistema <strong>sConfirmei</strong> responsável e/ou proprietária da Carga. Entende-se também como Embarcador o transportador de carga responsável pela prestação de serviço no transporte de mercadorias;
                    </li>
                    <li>
                        <strong>Conta de Acesso</strong>: é a conta empresarial de acesso ao Site do <strong>sConfirmei</strong>, criada pelo Embarcador no momento da realização do cadastro, que permitirá ao Embarcador, apartir de um login e senha, utilizar as funcionalidades do Sistema <strong>sConfirmei</strong>;
                    </li>
                </ul>
            </p>
            <p>
                O APP e o Site são de titularidade da SOFTLOG TECNOLOGIA LTDA EPP, com sede na cidade de Aparecida de Goiânia, Estado de Goiás, na Segunda Avenida, Qd 1B LT 48/50, Sala 520, Edifício Montreal Office, Condomínio Cidade Empresarial, Cidade Vera Cruz, CEP 74934-605, CNPJ 03.286141/0001-00. Todos os direitos reservados.
            </p>
            <p></p>
            <p>
                AO CADASTRAR-SE NO APP, NO SITE OU QUAISQUER DAS APLICAÇÕES, CLICAR NO CAMPO APROPRIADO E ACEITAR OS TERMOS DE USO E A POLÍTICA DE PRIVACIDADE, O USUÁRIO ESTARÁ EFETIVAMENTE INDICANDO A SUA CONCORDÂNCIA COM A NOSSA POLÍTICA DE PRIVACIDADE E TERMOS DE USO. LOGO, É DE INTEIRA RESPONSABILIDADE DO USUÁRIO LER COM ATENÇÃO ESSE DOCUMENTO, BEM COMO AS SUAS EVENTUAIS ATUALIZAÇÕES, ANTES DE TOMAR A DECISÃO DE USAR OU NÃO.
            </p>
            <p></p>
            <p>
                As aplicações oferecem um serviço de acompanhamento dos processos de coletas, entregas e viagens de transferência. Para usar as Aplicações de maneira satisfatória, o Usuário terá que nos fornecer Informações Pessoais, a fim de que estas sejam empregadas para o correto funcionamento das Aplicações. O <strong>sConfirmei</strong> adota padrões de proteção e segurança da informação, e esses dados serão utilizados apenas para os fins previstos nesta Política de Privacidade e/ou permitidos pela legislação vigente.
            </p>

            <h2>2. Dados Coletados</h2>
            <p>
                As Informações Pessoais que o <strong>sConfirmei</strong> coleta são divididas em duas categorias: (a) dados voluntariamente disponibilizados pelo Usuário ao usar as Aplicações; e (b) Dados automaticamente coletados pelo <strong>sConfirmei</strong> com o uso das Aplicações.
            </p>
            <p></p>
            <p>a) Dados Cadastrados pelo Usuário</p>
            <p>Esses dados incluem todas as informações (Pessoais e não pessoais) que os Usuários inseriram, de forma voluntária, em qualquer das Aplicações, abrangendo:</p>
            <p>(i) Dados Pessoais: são informações Pessoais que incluem, entre outros, o nome, CPF, CNH do Usuário, dados de endereço, data de nascimento e e-mails fornecidos. É de inteira responsabilidade do Usuário o fornecimento de informações correta e completas, sendo que qualquer alteração referente a suas informações cadastrais deverá ser comunicada pelo Usuário ao <strong>sConfirmei</strong> por meio da própria conta do Usuário, a fim de que se mantenham atualizados os dados pessoais do Usuário;</p>
            <p>(ii) Dados do Veículo: quaisquer dados que o Usuário insira no cadastro de seu veículo nas Aplicações, incluindo-se, sem limitação, placa, RENAVAM, modelo, marca, ano, peso, rastreador, entre outros. Caso o Usuário não seja o proprietário do veículo, o <strong>sConfirmei</strong> poderá armazenar as informações do respectivo proprietário e caberá ao Usuário obter autorização para utilização desses dados;</p>
            <p>Periódicamente, o <strong>sConfirmei</strong> poderá solicitar complementações de dados ao Usuário, sendo certo que o Usuário sempre terá a opção de fornecê-los ou não.</p>

            <p></p>
            <p>b) Dados Coletados automaticamente pelas Aplicações</p>
            <p>As Aplicações utilizam diversas tecnologias, próprias ou de terceiros, que coletam automaticamente informações sobre a nevegação dos Usuários nas Aplicações e/ou informações processadas a partir de outras informações voluntariamente fornecidas pelos usuários. Esses dados podem incluir:</p>

            <p>(ii) Dados de Acesso: são dados coletados por meio de tecnologias popularmente conhecidas como cookies - pequenos arquivos de informação armazenados no dispositivo do Usuário ao acessar um determinado site ou aplicativo, que podem coletar dados sobre o dispositivo de acesso ao Usuário, como, por exemplo, o sistema operacional e browser utilizados; tipo de hardware; endereço MAC (media access control), IMEI (international mobile equipament identity);endereço de protocolo de Internet (IP); horário de acesso do Usuário; dados geolocacionais; e informações sobre os hábitos de utilização da Internet e as preferências do Usuário;</p>
            <p>Comunicações por meio das Aplicações: Se o Usuário usar as ferramentas de comunicação disponibilizadas pelo <strong>sConfirmei</strong> nas Aplicações, podederemos manter um registro de toda comunicação trocada, com o objetivo de auxiliá-lo a resolver eventuais problemas, respeitando sempre o sigilo dessas comunicações, na forma da legislação aplicável.</p>

            <h2>3. Como Usamos os Dados Coletados</h2>
            <p>
                O <strong>sConfirmei</strong> utilizará as Informações Pessoais para as seguintes finalidades:
            </p>
            <p></p>
            <p>(i) Funcionamento das Aplicações: Usaremos todos os dados coletados para que o Usuário, ao acessar as Aplicações, possa alcançar o desempenho esperado, bem como para desenvolver e melhorar os serviços e funcionalidades ofertados pelo <strong>sConfirmei</strong>, realizar estatísticas genéricas para monitoramento de utilização das Aplicações, resolver problemas das Aplicações, verificar a proteção das Aplicações contra erros, fraudes ou qualquer outro crime eletrônico, entre outros. O <strong>sConfirmei</strong> poderá, ainda, acessar, informações pessoais para prestar atendimento quando o usuário dele precisar, por exemplo, entender o motivo de qualquer problema de cadastro;</p>
            <p>(ii) Publicidade e envio de e-mail e alertas pelo <strong>sConfirmei</strong>. O <strong>sConfirmei</strong> poderá enviar aos Usuários e-mails ou notificações de alertas e comunicados relacionados ao <strong>sConfirmei</strong> e às Aplicações, bem como alertas para a atualização ou finalização de cadastros. O <strong>sConfirmei</strong> poderá também usar comercialmente as Informações para a promoção de Publicidade das Aplicações, bem como auxiliar estudos, pesquisas e reportagens;</p>
            <p>(iii) Acompanhamento do Serviço de Transporte. Poderemos usar os dados coletados durante a prestação dos serviços de transporte, como, por exemplo, a localização do Motorista, para o acompanhamento e verificação se o respectivo serviço está sendo prestado da maneira correta ou mesmo para a sugestão de novas informações que possam interessar ao Motorista. Esses dados poderão ainda ser compartilhados com os Embarcadores, quando o <strong>sConfirmei</strong> julgar pertinente, para a proteção da carga;</p>
            <p>(iv) Estatísticas de Acesso. As Informações Pessoais e outros dados coletados podem ser utilizados com finalidade estatística, podendo tais informações, para tanto, serem segmentadas de acordo com os critérios estabelecidos por esssas empresas terceiras, conforme a necessidade. Tais dados estatísticos são aplicados no aprimoramento dos serviços e do conteúdo das aplicações, bem como na identificação de erros de programação que possam afetar a sua utilização.</p>
            <p></p>
            <p>Durante todas as ações indicadas acima, o <strong>sConfirmei</strong> poderá usar os Dados, inclusive informações de pagamento, das mais diferentes maneiras para obter os resultados indicados, como, por exemplo, produção, recepção, classificação, utilização, acesso, reprodução, transmissão, distribuição, processamento, arquivamento, armazenamento, eliminação, avaliação ou controle da informação, modificação, comunicação, transferência, difusão ou extração.</p>

            <h2>4. Compartilhamento de Informações Pessoais com Terceiros</h2>
            <p>
                O <strong>sConfirmei</strong> poderá compartilhar Informações Pessoais com terceiros, observado o seguinte:
            </p>
            <p>
                (i) Compartilhamento com parceiros comerciais do <strong>sConfirmei</strong>. O <strong>sConfirmei</strong> poderá fornecer Informações Pessoais para a criação de parcerias comerciais que possam beneficiar o Usuário, como, por exemplo, oferta de descontos em produtos ou serviços que, de acordo com o perfil cadastrado, possam interessar aos Usuários;
            </p>
            <p>
                (ii) Compartilhamento de Informações Pessoais, dados de veículo e dados de carga para empresas agenciadoras de risco. Mediante solicitação dos embarcadores, o <strong>sConfirmei</strong> poderá enviar certas informações para agências especializadas em gerenciamento de risco/empresas seguradoras que sejam contratadas pelos embarcadores para segurar o serviço de transporte;
            </p>
            <p>
                (iii) Compartilhamento de Dados entre o Motorista e o Embarcador. Para o correto funcionamento das Aplicações, enviaremos Informações do Motorista para o Embarcador e vice-versa. Por exemplo, para viabilizar a contratação dos Serviços de Transporte, disponibilizaremos nas Aplicações, sem limitação, o telefone, endereço, dados de carga e veículo e nome de contato de ambos os Embarcadores e Motoristas. Esses Dados poderão ser visualizados, tendo-se em vista que serão transferidos, não só entre as partes que estão negociando como também para toda a comunidade que usa as Aplicações. É importante que tenha em mente que, como o <strong>sConfirmei</strong> oferece uma ferramenta de gestão, o compartilhamento dos Dados entre os Motoristas e Embarcadores é um elemento essencial.
            </p>
            <p>
                As Informações Pessoais podem, ainda, ser compartilhadas com autoridades policiais, judiciais, administrativas ou com o Ministério Público do Brasil em caso de ordem judicial que obrigue o <strong>sConfirmei</strong> a disponibilizar Informações Pessoais a essas autoridades.
            </p>
            <p>
                Em adição às hipóteses supramencionadas, os seus dados poderão também ser transferidos a terceiros em decorrência da venda, aquisição, fusão, reorganização societária ou qualquer outra mudança de controle do <strong>sConfirmei</strong>. Nesse caso, o <strong>sConfirmei</strong> garantirá a continuidade da proteção de toda e qualquer Informação Pessoal, e comunicará o Usuário, com antecedência, caso essa transferência implique qualquer alteração em sua Política de Privacidade.
            </p>

            <h2>5. Como Armazenamos as Informações Coletadas</h2>
            <p>
                As Informações Pessoais coletadas através das Aplicações são armazenadas pelo período mínimo de 6 (seis) meses contados da data de sua coleta. Após esse prazo, o <strong>sConfirmei</strong> poderá, a seu exclusivo critério, excluir definitivamente quaisquer Informações Pessoais armazenadas em seus servidores.
            </p>
            <p>
                Todas as Informações Pessoais estão sujeitas a práticas de segurança, que incluem medidas de proteção física e digital e buscam prevenir que terceiros não autorizados tenham acesso indevido às Informações Pessoais.
            </p>
            <p>
                É DE RESPONSABILIDADE DO USUÁRIO MANTER O AMBIENTE DE SEU DISPOSITIVO DE ACESSO SEGURO, MEDIANTE O USO DE FERRAMENTAS PRÓPRIAS DISPONÍVEIS, TAIS COMO ANTIVÍRUS E FIREWALL, ENTRE OUTRAS, E, AINDA, UTILIZAR SOFTWARES ATUALIZADOS E EFICIENTES PARA O ACESSO ÀS APLICAÇÕES. EM NENHUMA HIPÓTESE O <strong>sConfirmei</strong> SOLICITARÁ INFORMAÇÕES PESSOAIS VIA E-MAIL, ESPECIALMENTE INFORMAÇÕES RELATIVAS AS SENHAS DE ACESSO. O <strong>sConfirmei</strong> NÃO SE RESPONSABILIZA POR QUAISQUER COMUNICAÇÕES ELETRÔNICAS FRAUDULENTAS QUE COLETEM DADOS PESSOAIS DE SEUS USUÁRIOS (PHISHING).
            </p>

            <h2>6. Controle das Informações Pessoais</h2>
            <p>
                Os Usuários possuem autonomia para definir quais Informações Pessoais desejam voluntariamente compartilhar com o <strong>sConfirmei</strong>. Todavia, o não fornecimento de determinadas informações pode impedir que o Usuário utilize determinada funcionalidade ou serviço oferecido através das Aplicações.
            </p>
            <p>
                Além disso, as seguintes ferramentas estão disponíveis para que o Usuário controle a coleta e o armazenamento automático de suas Informações Pessoais:
            </p>
            <p>
                (i) ferramentas do browser. Os principais browsers utilizados para acesso à Internet possuem opções para recusar o armazenamento de cookies e ferramentas para o controle da coleta de Informações Pessoais como, por exemplo, modo de navegação privativa ou anônima.
            </p>
            <p>
                (ii) software para bloqueio de anúncios. Diversas extensões gratuitas para browsers permitem o bloqueio de anúncios personalizados e rastreamento através de cookies. O <strong>sConfirmei</strong> não endossa ou verifica quaisquer dessas aplicações, sendo seu uso de exclusiva responsabilidade do Usuário.
            </p>
            <p>
                (iii) e-mail marketing. Todos os e-mails marketing enviados pelo <strong>sConfirmei</strong> possuem a opção de descadastramento, disponível no rodapé do corpo do e-mail enviado. Caso deseje, o Usuário poderá, a seu critério e a qualquer momento, realizar o seu descadastramento.
            </p>
            <p>
                O Usuário poderá, a seu critério e a qualquer momento, solicitar ao <strong>sConfirmei</strong> a exclusão de suas Informações Pessoais coletadas, por meio do e-mail sConfirmei@sConfirmei.com, sendo tal solicitação processada em até 5 (cinco) dias úteis. Contudo, o <strong>sConfirmei</strong> poderá, ainda, armazenar os dados relativos ao IP e data e hora de acesso do referido Usuário pelo prazo mínimo de 6 (seis) meses contados de sua coleta ou por prazo superior (caso seja solicitado por autoridade competente), conforme obrigação prevista na Lei Federal n. 12.965/2014 (“Marco Civil da Internet”). Após o término do referido prazo, o usuário poderá também solicitar a exclusão definitiva de quaisquer registros de IP e data e hora de acesso.
            </p>

            <h2>7. Disposições Gerais</h2>
            <p>
                Não obstante mantermos os seus dados pessoais confidenciais, de acordo com os termos desta Política de Privacidade, será responsabilidade de cada Usuário manter o login e a senha de acesso da conta, não devendo fornecê-los a ninguém. Caso acredite que seu login e senha de acesso sejam de conhecimento de outras pessoas, por qualquer razão, o Usuário deverá imediatamente comunicar ao <strong>sConfirmei</strong>, sem prejuízo da alteração de senha imediatamente.
            </p>
            <p>
                AO ACEITAR OS TERMOS DE USO E A POLÍTICA DE PRIVACIDADE, O USUÁRIO ESTARÁ CONSENTINDO, DE FORMA LIVRE, EXPRESSA E INFORMADA COM TODAS AS PRÁTICAS MENCIONADAS NESTA POLÍTICA DE PRIVACIDADE.
            </p>
            <p>
                CASO O USUÁRIO NÃO TENHA ENTENDIDO QUALQUER PARTE DESTA POLÍTICA DE PRIVACIDADE, o Usuário deverá entrar em contato com o <strong>sConfirmei</strong> ANTES DE ACEITAR OS TERMOS DE USO E A POLÍTICA DE PRIVACIDADE. Estamos à disposição para esclarecer qualquer dúvida que os Usuários possam ter, por meio do e-mail sConfirmei@sConfirmei.com
            </p>
            <p>
                Os termos desta Política de Privacidade são regidos e deverão ser interpretados de acordo com as Leis da República Federativa do Brasil.
            </p>

            <h2>8. Atualizações da Política de Privacidade</h2>
            <p>
                Com a finalidade de garantir a privacidade do Usuário, bem como a segurança de seus dados, o <strong>sConfirmei</strong> compromete-se a regularmente reavaliar a sua Política de Privacidade e adaptá-la, conforme necessário. Caso sejam implementadas mudanças nesta Política de Privacidade, o Usuário será notificado e o mesmo será responsável por analisar tais alterações.
            </p>
        </div>


        <hr />
        <footer class="w3-container w3-padding-16">
            <p>&copy; 2018 - sConfirmei</p>
        </footer>
    </div>


</body>
</html>

