{% set menu = appbuilder.menu %}
    <!-- partial:partials/_sidebar.html -->
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
                <div class="profile-image">
                    <img class="img-xs rounded-circle" src="/files/static/admin/assets/images/faces/face8.jpg" alt="profile image">
                    <div class="dot-indicator bg-success"></div>
                </div>
                <div class="text-wrapper">
                    <p class="profile-name">{{g.user.nome_usuario}}</p>
                    <p class="designation">Premium user</p>
                </div>
            </a>
        </li>
        <li class="nav-item nav-category">Menu Principal</li>
        {% for item1 in menu.get_list() %}
        {% if item1 | is_menu_visible %}
        {% if item1.childs %}
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-{{item1.name}}" aria-expanded="false" aria-controls="ui-{{item1.name}}">
                {% if item1.icon %}
                <!--<i class="fa {{item1.icon}}"></i>-->
                {% endif %}
                <span class="menu-title">{{_(item1.label)}}</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-{{item1.name}}">
                {% set divider = False %}
                <ul class="nav flex-column sub-menu">
                    {% for item2 in item1.childs %}
                    {% if item2.name == '-' %}
                        {% set divider = True %}
                    {% endif %}
                    {% if not divider %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{item2.get_url()}}">
                            {% if item2.icon %}
                                <!--<i class="fa {{item2.icon}}"></i>-->
                            {% endif %}
                            {{_(item2.label)}}
                        </a>
                    </li>
                    {% endif %}
                    {% endfor %}                        
                </ul>
            </div>
        </li>
        {% endif %}
        {% endif %}
        {% endfor %}
    </ul>
</nav>
   