{% extends 'frontend/base_onepage.html' %}

{% block content %}

    <div class="row my-3">
        <div class="col" >
            <div class="jumbotron">
                <h1 class="display-3">Bem Vindo ao site Softlog Tecnologia</h1>
                <p class="lead">
                    A SoftLog Tecnol&#243;gia &#233; uma empresa privada, com foco dirigido ao mercado de solu&#231;&#245;es tecnol&#243;gicas para transporte e log&#237;stica.
                </p>
                <p class="lead">
                    Fundada em 1999, veio para consolidar o trabalho que seu fundador j&#225; fazia junto a grandes companhias mineradoras, realizando integra&#231;&#227;o entre os sistemas corporativos destas, com os sistemas das transportadoras que realizavam toda a cadeia de transporte, desde a minera&#231;&#227;o at&#233; a exporta&#231;&#227;o do produto acabado.
                </p>
                <p class="lead">
                    O grande diferencial da Softlog &#233; prover solu&#231;&#245;es que atendam realmente ao transportador, permitindo que se customize de acordo com o processo espec&#237;fico do cliente.
                </p>
                <p class="lead">
                    Al&#233;m dos aplicativos prontos, o cliente caso assim deseje pode fazer customiza&#231;&#245;es para tornar sua opera&#231;&#227;o diferenciada dos demais.
                </p>
                <p class="lead">
                    Nosso lema &#233; inovar constantemente, para n&#227;o ficar obsoleto.
                </p>

                <hr class="my-4">
                <p class="lead">
                    <a href="http://www.softlog.eti.br/" class="btn btn-primary btn-lg" role="button">Saiba mais</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
