{% extends "dashboards_v1/base.html" %}
{% import "dashboards_v1/lib.html" as lib %}
{% block head_html %}
<style>
    canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    .justgauge {
        display: block;
        float: left;
        margin: 0 0 1% 0;
        /*max-height:170px;*/
        width: 100%;
        padding: 1 1 1 1;
        /*margin:0 0 0 0;*/
    }

    .clear:after {
        clear: both;
    }

    /*.table-fixed thead {
          width: 97%;
        }
        .table-fixed tbody {
          height: 230px;
          overflow-y: auto;
          width: 100%;
        }
        .table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
          display: block;
        }
        .table-fixed tbody td, .table-fixed thead > tr> th {
          float: left;
          border-bottom-width: 0;
        }*/

    .jqstooltip {
        background-color: #c6e5f6 !important;
        font-size: 11px !important;
        padding: 5px !important;
        color: black !important;
        overflow: auto !important;
        text-align: center !important;
        border-color: #cccccc !important;
        max-width: 400px !important;
        max-height: 400px !important;
    }

    .jqsfield {
        font-size: 10px !important;
        color: black !important; /*set the text color here

        #data_wrapper.dataTables_wrapper
        {
            height: 700px !important;
            background-color: #F1F1F1 !important;
        }

        #data_wrapper .fg-toolbar.ui-toolbar.ui-widget-header.ui-helper-clearfix.ui-corner-bl.ui-corner-br
        {
            position: absolute;
            width: 100%;
            bottom: 0;
        }
</style>
{% endblock %}

{% block content %}
<script>
    $(function () {
        $("#datepicker").datepicker();
    });
</script>
<!--<div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
    <i class="fa fa-calendar"></i>&nbsp;
    <span></span> <i class="fa fa-caret-down"></i>
</div>-->
{% if data.analises %}
{% for a in data.analises %}
{% if a.class_row %}
{% if a.skip_row == "1" %}</div>{% endif %}
<div class="{{a.class_row}}" {%if a.style_row %} style="{{a.style_row}}" {% endif %}>
    {% endif %}
    {{lib.render_widget(a.type_widget,a.conf, a.lg, a.md, a.sm, a.xs, a.btn_close, a.btn_setting, a.btn_colapse)}}
    {% endfor %}
</div>
{% else %}
<h1></h1>
<div class="jumbotron" style="margin-top: 80px; margin-bottom:80px">
    <h1>Bem-vindo ao Softlog Dashboards</h1>
    <p>Aqui voc&#234; poder&#225; acompanhar tudo o que acontece de mais importante com a sua empresa.</p>
    <p>Falta alguma coisa? Procure a Softlog Tecnologia que ela ter&#225; uma solu&#231;&#227;o para voc&#234; e seu neg&#243;cio.</p>
</div>
<div class="row"><p></p></div>
{% endif %}
{% endblock %}

{% block scripts %}
<script type="text/javascript">
$(function() {

    var start = moment().subtract(29, 'days');
    var end = moment();

    function cb(start, end) {
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
    }

    $('#reportrange').daterangepicker({
        startDate: start,
        endDate: end,
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'This Month': [moment().startOf('month'), moment().endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);

    cb(start, end);

});
</script>

<!-- jQuery Sparklines -->
<script>
    $(document).ready(function () {
        $(".sparkline_bar").sparkline([2, 4, 3, 4, 5, 4, 5, 4, 3, 4, 5, 6, 4, 5, 6, 3, 5], {
            type: 'bar',
            colorMap: {
                '7': '#a1a1a1'
            },
            barColor: '#26B99A'
        });

        $(".sparkline_area").sparkline([5, 6, 7, 9, 9, 5, 3, 2, 2, 4, 6, 7], {
            type: 'line',
            lineColor: '#26B99A',
            fillColor: '#26B99A',
            spotColor: '#4578a0',
            minSpotColor: '#728fb2',
            maxSpotColor: '#6d93c4',
            highlightSpotColor: '#ef5179',
            highlightLineColor: '#8ba8bf',
            spotRadius: 2.5,
            width: 85
        });

        $(".sparkline_line").sparkline([2, 4, 3, 4, 5, 4, 5, 4, 3, 4, 5, 6, 4, 5, 6, 3, 5], {
            type: 'line',
            lineColor: '#26B99A',
            fillColor: '#ffffff',
            width: 85,
            spotColor: '#34495E',
            minSpotColor: '#34495E'
        });

        $(".sparkline_pie").sparkline([1, 1, 2, 1], {
            type: 'pie',
            sliceColors: ['#26B99A', '#ccc', '#75BCDD', '#D66DE2']
        });

        $(".sparkline_discreet").sparkline([4, 6, 7, 7, 4, 3, 2, 1, 4, 4, 2, 4, 3, 7, 8, 9, 7, 6, 4, 3], {
            type: 'discrete',
            barWidth: 3,
            lineColor: '#26B99A',
            width: '85',
        });
    });
</script>
{% endblock %}
