<!--Renderiza uma tabela padrao: Linhas x Colunas--> 
{% macro render_datatable(conf, lg=1, md=1, sm=1, xs=1, btn_close=True, btn_conf=False, btn_collapse=False) %}
<div class="col-lg-{{md}} col-md-{{md}} col-sm-{{sm}} col-xs-{{xs}}">
    <div class="x_panel" style="min-height:200px;"> 
        <div class="x_title">
            <h2 align="center">{{conf.title}}</h2>
            <ul class="nav navbar-right panel_toolbox">
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div style="text-align: center; overflow: hidden; margin: 10px 5px 0;">
                <table id="{{conf.name_class}}" class="display" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            {% for c in conf.captions %}
                            <th>{{c}}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    {% if conf.has_caption_foot == '1' %}
                    <tfoot>
                        <tr>
                            {% for c in conf.captions %}
                            <th>{{c}}</th>
                            {% endfor %}
                        </tr>
                    </tfoot>
                    {% endif %}
                    <tbody>
                        {% for row in conf.data %}
                        <tr>
                            {% for f in row %}
                            <th>{{f}}</th>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    list_datatable.push(
        {
            name: '{{conf.name_class}}',
            height:'{{conf.height}}',
            column_order:{{conf.column_order}},
            type_order:'{{conf.type_order}}'
        }
    );
</script>
{% endmacro %}

<!--Tiles *****************************************************************************************************************-->
{% macro render_tile_stats(valor,title,subtitle,icon="fa-dashboard", icon_color=None,md=3, sm=6, xs=12) %}
<div class="col-md-{{md}} col-sm-{{sm}} col-xs-{{xs}}">
    <div class="tile-stats">
        <div class="icon">
            <i class="fa {{icon}}" {%if icon_color %}style="color:{{icon_color}}" {% endif %}></i>
        </div>
        <div class="count">{{valor}}</div>
        <h3>{{title}}</h3>
        <p>{{subtitle}}</p>
    </div>
</div>
{% endmacro %}

<!--SparkLine Bar *********************************************************************************************************-->
{% macro render_sparkline_bar(conf, lg=4, md=4, sm=4, xs=12) %}
<div class="col-md-{{md}} col-sm-{{sm}} col-xs-{{xs}} tile">
    <span>{{conf.title}}</span>
    <h2>{{conf.value}}</h2>
    <span style="height: 196px;" class="{{conf.name_class}}">
        <canvas width="200" height="60" style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>
    </span>
</div>
<script>
    list_sparkline.push(
        {
            name: '{{conf.name_class}}',
            data: {{conf.data}},
            options: {
                type: 'bar',
                height: '40',
                barWidth: 9,
                colorMap: {
                    '7': '#a1a1a1'
                },
                barSpacing: 2,
                barColor: '#26B99A'
            }
        }
    );
</script>
{% endmacro %}

<!--SparkLine Line *********************************************************************************************************-->
{% macro render_sparkline_line(conf,lg=4, md=4, sm=4, xs=12) %}
<div class="col-md-{{md}} col-sm-{{sm}} col-xs-{{xs}} tile">
    <span>{{conf.title}}</span>
    <h2>{{conf.value}}</h2>
    <span style="height: 160px;" class="{{conf.name_class}}">
        <canvas width="200" height="60" style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>
    </span>
</div>
<script>
    list_sparkline.push(
        {
            name: '{{conf.name_class}}',
            data: {{conf.data}},
            options: {
                type: 'line',
                width: '200',
                height: '40',
                lineColor: '#26B99A',
                fillColor: 'rgba(223, 223, 223, 0.57)',
                lineWidth: 2,
                spotColor: '#26B99A',
                minSpotColor: '#26B99A'
            }
        }
    );
</script>
{% endmacro %}

<!--Gauge Bar *********************************************************************************************************-->
{% macro render_widget_gauge_bar_1(chart_id, data_bar)  %}
<div class="col-md-3 col-xs-12 widget widget_tally_box">
    <div class="x_panel">
        <div class="x_title">
            <h2>Tally Design1</h2>

            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <div style="text-align: center; margin-bottom: 17px">
                <span class="chart" data-percent="86">
                    <span class="percent"></span>
                </span>
            </div>

            <div class="pie_bg" style="text-align: center; display: none; margin-bottom: 17px">
                <canvas id="canvas_doughnut" height="130"></canvas>
            </div>

            <div style="text-align: center; overflow: hidden; margin: 10px 5px 3px;">
                <canvas id="canvas_bar" height="190"></canvas>
            </div>
            <div>
                <ul class="list-inline widget_tally">
                    <li>
                        <p>
                            <span class="month">12 December 2014 </span>
                            <span class="count">+12%</span>
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class="month">29 December 2014 </span>
                            <span class="count">+12%</span>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
    var data_bar = {{data_bar}};
    var chart_id = '#{{chart_id}}';
</script>
{% endmacro %}


<!--Gauge ************************************************************************************************************-->
{% macro render_gauge(conf, lg=2, md=6, sm=6, xs=12, btn_close=True, btn_conf=False, btn_collapse=False) %}
<!--<div class="col-md-{{md}} col-sm-{{sm}} col-xs-{{xs}} col-lg-{{lg}}">-->
<div class="col-md-{{md}} col-xs-{{xs}}">
    {% if conf.panel == '1' %}
    <div class="x_panel">
        <div class="x_title">
            <h5>{{conf.title}}</h5>
            <ul class="nav navbar-right panel_toolbox">
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div id="{{conf.name_class}}" class="justgauge"></div>
        </div>
    </div>
    {% else %}
    <div id="{{conf.name_class}}" class="justgauge"></div>
    {% endif %}
</div>
<script>
    list_gaugejs.push(
    {
        name_class: '{{conf.name_class}}',
        chart: {{conf.chart| safe}}
    });
</script>
{% endmacro %}
{% macro render_tile(conf, lg=2, md=2, sm=4, xs=6) %}
<div class="col-md-{{md}} col-sm-{{sm}} col-xs-{{xs}} col-lg-{{lg}} tile_stats_count">
    <span class="count_top"><i class="fa {{conf.title_icon}}"></i> {{conf.title}}</span>
    <div class="count {% if conf.value_color %} {{conf.value_color}} {% endif %}"> {{conf.value}}</div>
    {% if conf.msg != ''%}
    <span class="count_bottom">
        {% if conf.has_variant == '1' %}
        <i class="{{conf.msg_color}}">
            {% if conf.msg_icon != '' %}<i class="fa {{conf.msg_icon}}"> {% endif %}</i>
            {{conf.value_msg}}
        </i>
        {%- endif -%}
        {{conf.msg}}
    </span>
    {% endif %}
</div>
{% endmacro %}

{% macro render_chartjs_donut(name_class, data, title, md=2, sm=2, xs=12) %}
<!-- bar chart -->
<div class="col-md-{{md}} col-sm-{{sm}} col-xs-{{xs}}">
    <div class="x_panel">
        <div class="x_title">
            <h2>{{title}}</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div ng-controller="Ctrl2">
                <ng-echarts class="col-md-6 echarts" ec-config="barConfig" ec-option="barOption"></ng-echarts>
            </div>
            <!--<div id="echart_donut" style="height:350px;"></div>-->
        </div>
    </div>
</div>
{% endmacro %}
""""
<!--Renderiza tabela com sparkline_bar-->
{% macro render_datatable_sparkline(conf, lg=1, md=1, sm=1, xs=1, btn_close=True, btn_conf=False, btn_collapse=False) %}
<div class="col-md-{{md}} col-sm-{{sm}} col-xs-{{xs}}">
    <div class="x_panel">
        <div class="x_title">
            <h2>{{conf.title}} <!--<small> Assorted graph types</small>--></h2>
            <ul class="nav navbar-right panel_toolbox">
                <!--<li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#">Settings 1</a>
                        </li>
                        <li>
                            <a href="#">Settings 2</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>-->
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <table id="{{conf.name_class}}" class="table table-striped" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        {% for c in conf.captions %}
                        <th>{{c}}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in conf.data %}
                    {% set rowloop = loop %}
                    <tr>
                        {% for f in row %}
                        {% if loop.index == conf.data_field_column %}
                        <th>
                            <span class="{{conf.prefix_class_sparkline}}-{{rowloop.index}}" style="height: 160px;">
                                <canvas width="200" height="60" style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>
                            </span>
                        </th>
                        {% else %}
                        <td>{{f}}</td>
                        {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    list_datatable.push(
        {
            name: '{{conf.name_class}}',
            height:'{{conf.height}}',
            column_order:{{conf.column_order}},
            type_order:'{{conf.type_order}}'
        }
    );
    {% for row in conf.data %}
    list_sparkline.push(
        {
            name: '{{conf.prefix_class_sparkline}}-{{loop.index}}',
        {% if row[conf.data_field_column-1] %}
        data: [{{row[conf.data_field_column-1]}}],
    {% else %}
    data: [],
{% endif %}
{% if conf.type_sparkline == 'bar' %}
        options: {
        type: 'bar',
        width: '100px',
        colorMap: {
            '7': '#a1a1a1'
        },
        barColor: '#26B99A'
        }
    {% endif %}
    {% if conf.type_sparkline == 'line' %}
    options: {
            type: 'line',
            lineColor: '#26B99A',
            fillColor: '#ffffff',
            width: 120,
            spotColor: '#34495E',
            minSpotColor: '#34495E'
    }
    {% endif %}
    {% if conf.type_sparkline == 'area' %}
    options: {
            type: 'line',
            lineColor: '#26B99A',
            fillColor: '#26B99A',
            spotColor: '#4578a0',
            minSpotColor: '#728fb2',
            maxSpotColor: '#6d93c4',
            highlightSpotColor: '#ef5179',
            highlightLineColor: '#8ba8bf',
            spotRadius: 2.5,
            width: 120
    }
    {% endif %}
    }
    );
    {% endfor %}
</script>

{% endmacro %}
<!--************************************************************************************************************-->
<!--Renderiza Grafico ChartJs BarLine-->
{% macro render_chartjs_barline(conf, lg=4, md=4, sm=4, xs=12) %}
<!-- barline chart -->
<div class="col-md-{{md}} col-sm-{{sm}} col-xs-{{xs}}">
    <div class="x_panel">
        <div class="x_title">
            <h2>{{conf.title}}</h2>            
            <ul class="nav navbar-right panel_toolbox">
                <!--<li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>-->
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <canvas id="{{conf.name_class}}"></canvas>
        </div>
    </div>
</div>
<script>

    list_chartjs_plus.push(
        {
            name: '{{conf.name_class}}',
            chart: {{conf.chart | safe}}
        });
</script>
{% endmacro %}
<!--************************************************************************************************************-->
<!--Renderiza Grafico ChartJs Bar-->
{% macro render_chartjs_bar(conf, lg=4, md=4, sm=4, xs=12) %}
<!-- bar chart -->
<div class="col-md-{{md}} col-sm-{{sm}} col-xs-{{xs}}">
    <div class="x_panel">
        <div class="x_title">
            <h2>{{conf.title}}</h2>
            <ul class="nav navbar-right panel_toolbox">
                <!--<li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>-->
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <canvas id="{{conf.name_class}}" height={{conf.height}}></canvas>
        </div>
    </div>
</div>
<script>
    list_chartjs.push(
        {
            name: '{{conf.name_class}}',
            chart: {{conf.chart | safe}}
        });
</script>
{% endmacro %}

{% macro render_widget(type_widget,conf, lg=6, md=6, sm=6, xs=12, btn_close=True, btn_conf=False, btn_collapse=False) %}
{% if type_widget == "bar_chartjs" %}
{{render_chartjs_bar(conf, lg, md, sm, xs)}}
{% elif type_widget == "gaugejs" %}
{{render_gauge(conf, lg, md, sm, xs)}}
{% elif type_widget == "tiles" %}
{{render_tile(conf, lg, md, sm, xs)}}
{% elif type_widget == "sparkline_bar" %}
{{render_sparkline_bar(conf, lg, md, sm, xs) }}
{% elif type_widget == "sparkline_line" %}
{{render_sparkline_line(conf, lg, md, sm, xs) }}
{% elif type_widget == "barline_chartjs" %}
{{render_chartjs_barline(conf, lg, md, sm, xs) }}
{% elif type_widget == "datatable" %}
{{render_datatable(conf, lg, md, sm, xs, btn_close=True, btn_conf=False, btn_collapse=True)}}
{% elif type_widget == "datatable_sparkline" %}
{{render_datatable_sparkline(conf, lg, md, sm, xs, btn_close=True, btn_conf=False, btn_collapse=True)}}
{% endif %}
{% endmacro %}