{% macro render_additional_links(additional_links, pk) %}
	{% if additional_links %}
		{% for item in additional_links %}
<a href="{{item.href}}?pk={{pk}}" class="btn btn-sm btn-primary">
    <span class="glyphicon glyphicon"></span>
    {{_(item.label)}}
</a>
		{% endfor %}
	{% endif %}
{% endmacro %}

{% macro render_action_links(actions, pk, modelview_name) %}
    {% set actions = actions | get_actions_on_show(modelview_name) %}

    {% for key in actions %}
        {%  set action = actions.get(key) %}

        {% set url = url_for(modelview_name + '.action', name = action.name, pk = pk) %}
<a href="javascript:void(0)" class="btn btn-sm btn-primary"
   onclick="var a = new AdminActions(); return a.execute_single('{{url}}','{{action.confirmation}}');">
    <i class="fa {{action.icon}}"></i>
    {{_(action.text)}}
</a>
    {% endfor %}
{% endmacro %}

{% macro action_form(actions, modelview_name) %}
    {% if actions %}
    {% set url = url_for(modelview_name + '.action_post') %}
<form id="action_form" action="{{ url }}" method="POST" style="display: none">
    {% if csrf_token %}
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    {% endif %}
    <input type="hidden" id="action" name="action" />
</form>
    {% endif %}
{% endmacro %}

{% macro render_actions(actions, modelview_name) %}
{% if actions %}
<li>
    <button class="btn btn-secondary dropdown-toggle mr-1" type="button" id="dropdownsorting" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{_('Actions')}}</button>
    <div class="dropdown-menu" aria-labelledby="dropdownsorting">
        {% for action_key in actions %}
        {% set action = actions.get(action_key) %}
            <a class="p-1 ml-2" href="javascript:void(0)"
               onclick="return modelActions.execute_multiple('{{action.name}}','{{action.confirmation}}');">
                <i class="fa {{action.icon}}"></i>
                {{ _(action.text) }}
            </a>
        {% endfor %}
    </div>
</li>
{% endif %}
{% endmacro %}


{% macro render_set_page_size(page, page_size, count, modelview_name) %}
{% if not page %} {% set page = 0 %} {% endif %}
{% set pages = ((count / page_size)|round(0,'ceil')|int)%}
{% if pages > 1 %}
<div class="btn-group">
    <button type="button" class="btn btn-outline-primary btn-sm dropdown-toggle" data-toggle="dropdown">
        {{_('Page size')}}<span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        {% for sel_page_size in range(5,40,5) %}
        {% if sel_page_size == page_size %}
        <li class="active ml-2"><a href="{{sel_page_size | link_page_size(modelview_name) }}">{{sel_page_size}}</a></li>
        {% else %}
        <li class="ml-2"><a href="{{sel_page_size | link_page_size(modelview_name) }}">{{sel_page_size}}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endmacro %}

{% macro render_dropdown_orderby(order_columns, label_columns, modelview_name) %}
<div class="btn-group">
    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
        {{_('Order by')}}<span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        {% for item in order_columns %}
        {% set res = item | get_link_order(modelview_name) %}
        {% if res == 2 %}
        <li class="active">
            <a href={{ item | link_order(modelview_name) }}>
                {{label_columns.get(item)}}
                <i class="fa fa-fw fa-chevron-up"></i>
            </a>
        </li>
        {% elif res == 1 %}
        <li class="active">
            <a href={{ item | link_order(modelview_name) }}>
                {{label_columns.get(item)}}
                <i class="fa fa-fw fa-chevron-down"></i>
            </a>
        </li>
        {% else %}
        <li>
            <a href={{ item | link_order(modelview_name) }}>{{label_columns.get(item)}}</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>
{% endmacro %}


{% macro render_pagination(page, page_size, count, modelview_name) %}

    {% if not page %} {% set page = 0 %} {% endif %}
    {% set pages = ((count / page_size)|round(0,'ceil')|int)%}
    {% if pages > 1 %}

<ul class="pagination pagination-sm mb-0" style="display: inline-flex">

    {% set init_page = 0 %}
    {% set min = page - 3 %}
    {% set max = page + 3 + 1 %}

    {% if min < 0 %}
    {% set max = max - min %}
    {% endif %}
    {% if max >= pages %}
    {% set min = min - max + pages %}
    {% endif %}

    {% if min < 0 %}
    {% set min = 0 %}
    {% endif %}
    {% if max >= pages %}
    {% set max = pages %}
    {% endif %}

    {% if min > 0 %}
    <li>
        <a class="page-link" href="{{ init_page | link_page(modelview_name) }}">&laquo;</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" href="javascript:void(0)">&laquo;</a>
    </li>
    {% endif %}
    {% if page > 0 %}
    <li>
        <a class="page-link" href="{{ (page - 1) | link_page(modelview_name) }}">&lt;</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" href="javascript:void(0)">&lt;</a>
    </li>
    {% endif %}

    {% for p in range(min, max) %}
    {% if page == p %}
    <li class="page-item active">
        <a class="page-link" href="javascript:void(0)">{{ p }}</a>
    </li>
    {% else %}
    <li>
        <a class="page-link" href="{{ p | link_page(modelview_name) }}">{{ p }}</a>
    </li>
    {% endif %}
    {% endfor %}

    {% if page + 1 < pages %}
    <li>
        <a class="page-link" href="{{ (page + 1) | link_page(modelview_name) }}">&gt;</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" href="javascript:void(0)">&gt;</a>
    </li>
    {% endif %}
    {% if max < pages %}
    <li>
        <a class="page-link" href="{{ (pages - 1) | link_page(modelview_name) }}">&raquo;</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" href="javascript:void(0)">&raquo;</a>
    </li>
    {% endif %}
</ul>

{% endif %}
{% endmacro %}


{% macro render_field(field, begin_sep_label='', end_sep_label='', begin_sep_field='', end_sep_field='') %}
	  {% if field.id != 'csrf_token' %}
          {% if field.type == 'HiddenField' %}
{{ field}}
          {% else %}
{{begin_sep_label|safe}}
<label for="{{field.id}}" class="col-sm-3 col-form-label">
    {{ field.label.text }}
    {% if field.flags.required %}
    <strong style="color: red">&#42;</strong>
    {% endif %}
</label>
{{end_sep_label|safe}}
{{begin_sep_field|safe}}
{{ field(**kwargs)|safe }}
<span class="help-block">{{ field.description }}</span>
          {% endif %}
          {% if field.errors %}
<div class="alert alert-danger">
    {% for error in field.errors %}
    {{ _(error) }}
    {% endfor %}
</div>
          {% endif %}
{{end_sep_field|safe}}
      {% endif %}
{% endmacro %}


{% macro render_field_search(field) %}
{% if field.id != 'csrf_token' %}
<div class="control-label">
    <th class="col-lg-2">{{ field.label.text }}</th>
</div>
<div class="controls">
    <td>{{ field(name_='_flt_' + field.name)|safe }}</td>
</div>
{% endif %}
{% endmacro %}

{% macro panel_begin(title) %}
<div class="card bg-light">
    <div class="card-body">
        <div class="page-header">
            <h4 class="page-title w-100">{{title}}</h4>
            <div class="quick-link-wrapper w-100 d-md-flex flex-md-wrap">
                <ul class="quick-links ml-auto">
                <li>{{lnk_back()}}</li>
                </ul>
            </div>
        </div>
{% endmacro %}

{% macro panel_end() %}
    </div>
</div>
{% endmacro %}


{% macro accordion_tag(id, label, open) %}
<div class="accordion" id="accordion-{{id}}">
    <div class="card mt-0">
        <div class="card-header  p-2 fg-secondary" id="heading-{{id}}">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-{{id}}" aria-expanded="true" aria-controls="collapse-{{id}}">{{label}}</button>
            </h5>
        </div>
        <div id="collapse-{{id}}" class="collapse show  p-2" aria-labelledby="heading-{{id}}" data-parent="#accordion-{{id}}">
            <div class="card-body px-2 py-1">
                {{ caller() }}
            </div>
        </div>
    </div>
</div>
{% endmacro %}

{% macro render_form_controls() %}
<div class="row">
    <div class="col">
        <button type="submit" class="btn  btn-sm btn-primary  mt-2">
            {{_("Save")}}
            <i class="fa fa-save"></i>
        </button>
        
    </div>
</div>
{% endmacro %}

{% macro render_list_header(title,can_add, page, page_size, count, filters, actions, modelview_name,include_cols, label_columns, form_fields, search_filters, active_filters) %}
<div class="page-header">
    <h4 class="page-title w-100">{{title}}</h4>        
    <div class="quick-link-wrapper w-100 d-md-flex flex-md-wrap">
        <ul class="quick-links"></ul>
            <ul class="quick-links ml-auto">
            {{ render_actions(actions, modelview_name) }}
            {% if can_add %}
                {% set path = url_for(modelview_name + '.add') %}
                {% set path = path | set_link_filters(filters) %}
                {{ lnk_add(path) }}
            {% endif %}    
            {{ render_search(include_cols, label_columns, form_fields, search_filters, active_filters) }}
            <li>
                {{lnk_back()}}
            </li>
            </ul>
    </div>
</div>
<!--<div class="page-header-toolbar mb-3">
    <div class="btn-group toolbar-item" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary"><i class="mdi mdi-chevron-left"></i></button>
        <button type="button" class="btn btn-secondary">03/02/2019 - 20/08/2019</button>
        <button type="button" class="btn btn-secondary"><i class="mdi mdi-chevron-right"></i></button>
    </div>
    <div class="filter-wrapper">
        <div class="dropdown toolbar-item">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownsorting" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All Day</button>
            <div class="dropdown-menu" aria-labelledby="dropdownsorting">
                <a class="dropdown-item" href="#">Last Day</a>
                <a class="dropdown-item" href="#">Last Month</a>
                <a class="dropdown-item" href="#">Last Year</a>
            </div>
        </div>
        <a href="#" class="advanced-link toolbar-item">Advanced Options</a>
    </div>
    <div class="sort-wrapper">
        <button type="button" class="btn btn-primary toolbar-item">New</button>
        <div class="dropdown ml-lg-auto ml-3 toolbar-item">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownexport" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Export</button>
            <div class="dropdown-menu" aria-labelledby="dropdownexport">
                <a class="dropdown-item" href="#">Export as PDF</a>
                <a class="dropdown-item" href="#">Export as DOCX</a>
                <a class="dropdown-item" href="#">Export as CDR</a>
            </div>
        </div>
    </div>
</div>-->
{% endmacro %}

{% macro btn_crud(can_show, can_edit, can_delete, pk, modelview_name, filters) %}
<div class="btn-group" role="group" aria-label="Grupo de botoes">
    {% if can_show %}
    {% set path = url_for(modelview_name + '.show',pk=pk) %}
    {% set path = path | set_link_filters(filters) %}
    {{ lnk_show(path) }}
    {% endif %}
    {% if can_edit %}
    {% set path = url_for(modelview_name + '.edit',pk=pk) %}
    {% set path = path | set_link_filters(filters) %}
    {{ lnk_edit(path) }}
    {% endif %}
    {% if can_delete %}
    {{ lnk_delete(url_for(modelview_name + '.delete',pk=pk)) }}
    {% endif %}
</div>
{% endmacro %}

{% macro btn_search() %}
<button type="submit" class="btn  btn-sm">
    {{_("Search")}}
    <i class="fa fa-search"></i>
</button>
{% endmacro %}

{% macro lnk_back() %}
    <a href="{{url_for('UtilView' + '.back')}}"  data-original-title="" data-toggle="tooltip" rel="tooltip" title="{{_('Back')}}">
        {{_('Back')}}
    </a>
{% endmacro %}


{% macro lnk_add(my_href) %}
<li>
    <a href="{{my_href}}" data-original-title="" data-toggle="tooltip" rel="tooltip" title="{{_('Add a new record')}}">Novo</a>            
</li>
{% endmacro %}

{% macro lnk_edit(my_href) %}
<a href="{{my_href}}" class="btn btn-sm btn-primary" data-toggle="tooltip" rel="tooltip"
    title="{{_('Edit record')}}">
    <i class="fa fa-edit"></i>
</a>
{% endmacro %}

{% macro lnk_show(my_href) %}
<a href="{{my_href}}" class="btn btn-sm btn-primary" data-toggle="tooltip" rel="tooltip"
    title="{{_('Show record')}}">
    <i class="fa fa-search"></i>
</a>
{% endmacro %}

{% macro lnk_delete(my_href) %}
<a data-text="{{ 'You sure you want to delete this item?' }}" data-href="{{my_href}}" class="btn btn-sm btn-primary confirm" rel="tooltip"
    title="{{_('Delete record')}}" data-toggle="modal" data-target="#modal-confirm" href="#">
    <i class="fa fa-eraser"></i>
</a>
{% endmacro %}

{% macro render_menu_dropdown() %}
<div class="dropdown">
    {% if g.user.is_authenticated %}    
    <a id="button" class="btn text-light dropdown-toggle" href="#" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">{% if g.user.categoria == 2 %}{{g.user.login_name}}{% else %}{{g.user.nome_usuario}}{% endif %}</a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="button2">
        {% if g.user.categoria == 1 %}
        <h6 class="dropdown-header">Filial Ativa</h6>
        <a class="dropdown-item" href="#">{{g.current_filial}}</a>
        <!--<div class="dropdown-divider"></div>
        <h6 class="dropdown-header">Filiais Dispon&#237;veis</h6>
        <a class="dropdown-item" href="#">Link Separado</a>-->
        <div class="dropdown-divider"></div>
        {% endif %}
        <a class="dropdown-item" href="\logout">Sair</a>
    </div>
    {% else %}
    <a id="button" class="btn text-light" href="\login\" role="button"
        aria-haspopup="true" aria-expanded="false">Entrar</a>
    {% endif %}
</div>

{% endmacro %}

{% macro set_breadcrumb() %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="index.html">Home</a>
    </li>
    <li class="breadcrumb-item">
        Usu&#225;rios
    </li>
</ol>
{% endmacro %}


{% macro set_style(url) %}
<link rel="stylesheet" type="text/css" media="screen" href="{{url}}" />
{% endmacro %}

{% macro set_javascript(url) %}
<script src="{{url}}"></script>
{% endmacro %}

{% macro set_hello(name) %}
<h1>Ola {{name}}</h1>
{% endmacro %}


{% macro render_search(include_cols, label_columns, form_fields, search_filters, active_filters) %}
<li>
    <a id="search" href="#" data-toggle="tooltip" rel="tooltip" title="Filtros para pesquisas">Pesquisar</a>
    <!-- Modal structure -->
    <div id="dialog" title="Pesquisar">



        <form id="filter_form" class="form-search ml-0" method="get">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle p-2" data-toggle="dropdown" aria-expanded="false">
                    {{_("Add Filter")}}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    {% for col in include_cols %}
                    <li>
                        <a href="javascript:void(0)" name={{col}} class="filter btn" onclick="return false;">
                            {{ label_columns[col] }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <table class="table table-hover filters mt-3">
                <tr class="ml-0">
                    <th>Coluna</th>
                    <th>Opera&#231;&#227;o</th>
                    <th>Valor a Pesquisar</th>
                </tr>
            </table>
        </form>

    </div>
    <script>
        (function($) {
        var filter = new AdminFilters(
                        '#filter_form',
                        {{ label_columns | tojson | safe }},
                        {{ form_fields | tojson | safe }},
                        {{ search_filters | tojson | safe }},
                        {{ active_filters | tojson | safe }}
                    );
        }) (jQuery);

        dialog = $("#dialog").dialog({
          autoOpen: false,
          height: 600,
          width: 700,
          modal: true,
          buttons: [
                    {
                        text: "Pesquisar",
                        click: function(){
                            $("#filter_form").submit();
                        }
                    },
                    {
                        text: "Fechar",
                        click: function() {
                        $( this ).dialog( "close" );
                        }

                        // Uncommenting the following line would hide the text,
                        // resulting in the label being used as a tooltip
                        //showText: false
                    }
            ],
            create: function (event, ui) {
                // Set maxWidth
                $(this).css("maxWidth", "700px");
            }
        });

        $("#search").button().on("click", function () {
            dialog.dialog("open");
        });

       $("#search").removeClass("ui-button ui-corner-all ui-widget");

    </script>

</li>
{% endmacro %}

{% macro render_search_old(include_cols, label_columns, form_fields, search_filters, active_filters) %}
<li>
    <a href="#searchModal" data-target="#searchModal" data-whatever="@mdo" data-toggle="modal">Pesquisar</a>

    <!-- Modal -->
    <!-- Modal structure -->
    <div id="modal"> <!-- data-iziModal-fullscreen="true"  data-iziModal-title="Welcome"  data-iziModal-subtitle="Subtitle"  data-iziModal-icon="icon-home" -->
        <!-- Modal content -->
    </div>
    <div class="modal fade modal-lg" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Pesquisar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="filter_form" class="form-search ml-0" method="get">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle py-0" data-toggle="dropdown" aria-expanded="false">
                                {{_("Add Filter")}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                {% for col in include_cols %}
                                <li>
                                    <a href="javascript:void(0)" name={{col}} class="filter btn" onclick="return false;">
                                        {{ label_columns[col] }}
                                    </a>
                                </li>                                
                                {% endfor %}
                            </ul>
                        </div>

                        <table class="table table-hover filters mt-3">
                            <tr class="ml-0">
                                <th>Coluna</th>
                                <th>Opera&#231;&#227;o</th>
                                <th>Valor a Pesquisar</th>
                            </tr>
                        </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Sair
                        <i class="fa fa-close"></i>
                    </button>
                    <button type="submit" class="btn btn-default">
                        Pesquisar
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </form>              

            <script>
	            (function($) {
	            var filter = new AdminFilters(
                                '#filter_form',
                                {{ label_columns | tojson | safe }},
                                {{ form_fields | tojson | safe }},
                                {{ search_filters | tojson | safe }},
                                {{ active_filters | tojson | safe }}                                        
                            );
	            }) (jQuery);    
            </script>
            </div>
        </div>
    </div>
</li>
{% endmacro %}